body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    margin: 200px;
    border: 1px solid black;
}

#display {
    font-size: 40px;
    flex-shrink: 2;
}

button {
    font-size: 40px;
    width: 40px;
}